.album-card {
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  /* background-color: #000000; */
  border: 1px solid rgba(255, 166, 0, 0.5);
  color: var(--almost-white);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  transition: 0.1s all;
}

.album-card:hover {
  background-color: #ffa600;
  border-color: #ffa600;
  color: #000;
  cursor: pointer;
  transform: scale(1.01);
}

.album-card:active {
  transform: scale(0.95);
}


.album-card-name {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  height: 2.4rem;
  line-height: 1.2rem;
  text-align: center;
}


@media screen and (max-width: 425px) {
  .album-card {
    background-color: #181818;
    flex-direction: row;
    width: 100%;
  }

  .album-card-image {
    height: 7rem;
    width: 7rem;
  }

  .album-card-name {
    margin: 0 1rem;
  }
}